*
!*/
!*.cpp
!*.h
!**/Headers/**
!**/Resources/
!**/Resources/**
!**/Output/
!**/Output/**
!App/GraphNetwork/*.qml
!App/GraphNetwork/*.qrc
!App/GraphNetwork/*.cpp
!App/GraphNetwork/*.h
!App/GraphNetwork/*.pro